<div class="row">
    <div class="col-md-12">
        <nb-card [size]="'medium'">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-11">
                        Classifications
                    </div>
                    <div class="col-md-1">
                        <nb-action title="Add Classification" icon="plus-outline" (click)="addClassification(dialogEdit)">
                        </nb-action>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body [nbSpinner]="gettingclassifications" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Getting Classifications">
                <table class="table" *ngIf="classifications.length>0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Hide</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Classification of classifications">
                            <td>
                                {{ Classification.id }}
                            </td>
                            <td>
                                {{Classification.title}}
                            </td>
                            <td>
                                <img [src]="Classification.imagePath" alt="classification picture" style="width:60px; height:60px;">
                            </td>
                            <td>
                                {{Classification.hide}}
                            </td>
                            <td>
                                <nb-actions fullWidth size="small">
                                    <nb-action (click)="editClassification(dialogEdit,Classification)" title="Edit" icon="edit-outline">
                                    </nb-action>
                                </nb-actions>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<ng-template #dialogEdit let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Classification data</nb-card-header>
        <nb-card-body>
            <label class="label">Title</label>
            <input class="form-control" required type="text" [(ngModel)]="selectedClassification.title" name="title" fullWidth placeholder="Title">
            <img [src]="selectedClassification.imagePath" (click)="file.click()" alt="classification picture" style="width:60px; height:60px;">
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;"> 
            <nb-checkbox [(ngModel)]="selectedClassification.hide">
                Hide?
            </nb-checkbox>
        </nb-card-body>
        <nb-card-footer style="text-align: right;">
            <button [nbSpinner]="savingClassification" nbSpinnerStatus="success" nbButton (click)="addOrUpdateClassification(ref)" status="primary">Save</button>
        </nb-card-footer>
    </nb-card>
</ng-template>