<div class="row">
    <div class="col-md-12">
        <nb-card [size]="'medium'">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-11">
                        Categories
                    </div>
                    <div class="col-md-1">
                        <nb-action title="Add Category" icon="plus-outline" (click)="addCategory(dialogEdit)">
                        </nb-action>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body [nbSpinner]="gettingCategories" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Getting Categories">
                <table class="table" *ngIf="categories.length>0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>English title</th>
                            <th>Arabic title</th>
                            <th>Image</th>
                            <th>Hide</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Category of categories">
                            <td>
                                {{ Category.id }}
                            </td>
                            <td>
                                {{Category.englishTitle}}
                            </td>
                            <td>
                                {{Category.arabicTitle}}
                            </td>
                            <td>
                                <img [src]="Category.imagePath" alt="category picture" style="width:60px; height:60px;">
                            </td>
                            <td>
                                {{Category.hide}}
                            </td>
                            <td>
                                <nb-actions fullWidth size="small">
                                    <nb-action (click)="editCategory(dialogEdit,Category)" title="Edit" icon="edit-outline">
                                    </nb-action>
                                </nb-actions>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<ng-template #dialogEdit let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Category data</nb-card-header>
        <nb-card-body>
            <label class="label">English title</label>
            <input class="form-control" required type="text" [(ngModel)]="selectedCategory.englishTitle" name="englishTitle" fullWidth placeholder="English Title">
            <label class="label">Arabic title</label>
            <input class="form-control" required type="text" [(ngModel)]="selectedCategory.arabicTitle" name="englishTitle" fullWidth placeholder="Arabic Title">
            <img [src]="selectedCategory.imagePath" (click)="file.click()" alt="category picture" style="width:60px; height:60px;">
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;"> 
            <nb-checkbox [(ngModel)]="selectedCategory.hide">
                Hide?
            </nb-checkbox>
        </nb-card-body>
        <nb-card-footer style="text-align: right;">
            <button [nbSpinner]="savingCategory" nbSpinnerStatus="success" nbButton (click)="addOrUpdateCategory(ref)" status="primary">Save</button>
        </nb-card-footer>
    </nb-card>
</ng-template>